<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="gu" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>我的网页</title>
    <link type="text/css" rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <div>
        <h1>hello world</h1>
        <h1>爱你呦</h1>
        <h2>爱你呦</h2>
        <h3>爱你呦</h3>
        <h4>爱你呦</h4>
        <h5>爱你呦</h5>
        <h6>爱你呦</h6>
        <h1>题目：CC爱老婆</h1>
        <p>如果CC不爱老婆，就会被老婆欺负。CC不想被欺负，所以还是爱老婆吧</p>
        <p>CC有一只猫，它叫<span style="font-weight:bold;">球</span><b>球</b><strong>球</strong></p>
        <p><a href="https://www.letsgojp.com/archives/324890/">美女</a>
        <p><img src="../static/image/猫.jpg"></p>

        <figure style="text-align: center">
            <img src="https://raw.githubusercontent.com/mdn/learning-area/master/html/multimedia-and-embedding/images-in-html/dinosaur_small.jpg"
            alt="一只恐龙头部和躯干的骨架，它有一个巨大的头，长着锋利的牙齿。"
            width="400"
            height="341">
            <figcaption>曼彻斯特大学博物馆展出的一只霸王龙的化石</figcaption>
        </figure>

    </div>
</body>
</html>